<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/saludappicono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/saludappicono"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiPrimeraApp">
        <activity
            android:name=".ui.weight.HistorialPesoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medication.MedicamentoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.hydration.HidratacionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.physical.ActividadFisicaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.glucose.ControlGlucosaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pressure.PresionArterialActivity"
            android:exported="false" />
        <activity
            android:name=".ui.weight.ControlPesoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menu.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.menu.MainActivity"
            android:exported="false" />
    </application>

</manifest>